/* FONDO GENERAL */
body {
    background-color: #0b0c0c;
}

/* BARRA SUPERIOR */
.top-bar {
    background-color: #111;
    border-bottom: 1px solid #333;
}

/* FOOTER */
footer {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 3rem;
    padding-bottom: 1rem;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}
footer a:hover {
    text-decoration: underline;
}

/* TARJETAS NOSOTROS */
.tarjeta {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/* RAYITAS DEL HAMBURGUESA EN BLANCO */
.navbar-toggler-icon {
    filter: invert(1);
}

/* FOOTER FIJO ABAJO */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}