{% extends 'blog/base.html' %}

{% block title %}Galería - {{ titulo_sitio }}{% endblock %}

{% block content %}
<h1 class="mb-4">Relevamiento fotográfico</h1>

<div class="d-grid gap-3 col-md-6 mx-auto">

  <a href="https://photos.app.goo.gl/3CUK7qSEpJ5ekPGH7"
     target="_blank"
     class="btn btn-outline-success w-100 mb-3">
     Nuevo Parque Urbano II de febrero
  </a>

  <a href="https://photos.app.goo.gl/ALe48483mPqicMSY9"
     target="_blank"
     class="btn btn-outline-success w-100 mb-3">
     Plazoleta Provincias Unidas
  </a>

  <a href="https://photos.app.goo.gl/hTZ9Qi4AySfmi3gY8"
     target="_blank"
     class="btn btn-outline-success w-100 mb-3">
     Plaza de los Abuelos - Parque 2 de febrero
  </a>
  
  <a href="https://photos.app.goo.gl/ZFaYhQ8wpAbRsaQf9"
     target="_blank"
     class="btn btn-outline-success w-100 mb-3">
     Sendero Sembremos Vida - Fundacion Dulces Sueños - Parque Urbano Laguna Arguello
  </a>

</div>
{% endblock %}
